*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}


.navbar-center.hidden.lg\:flex.justify-start.items-center {
    width: 40%;
}
.flex.gap-4.ml-10 {
    width: 40%;
}

.content{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/team.png");
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}



@media screen and (max-width:566px) {
    input.input.input-bordered.none.rounded-full.w-24.md\:w-auto {
        display: none;
    }
    .content{
        height: 100%;
    }
    .navbar-center{
       flex-direction: row-reverse;
    }
    .navbar{
        flex-direction: row-reverse;
     }

     .none.md\:block {
        display: none;
    }
    .flex.gap-4.ml-10 {
        width: 60%;
    }
}
